<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de Login</title>
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Meu Site</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" style="color: red;">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-light text-center py-2 mb-0">
            <div class="container">
                <h1 class="display-4">Seja bem vindo! {{username}}</h1>
                <p class="lead">Painel do site.</p>
            </div>
        </div>
        <!-- Main -->
        <div class="row" style="display: flex; align-content: center; flex-wrap: nowrap; justify-content: center; align-items: center;">
                    <!-- Coluna esquerda (vazia) -->
                    <div col-md-4></div>
                    <!-- Coluna central (formulário) -->
                    <div col-md-4>
                        <!-- Formulário de login -->
                        <form action="/edit/{{ usuario.id }}" method="post">
                            <!-- Campo email -->
                            <div class="form-group">
                                <label for="user">Usuário:</label>
                                <input type="text" name="user" id="user" value="{{usuario.username}}" required="true" class="form-control">
                            </div>
                            <!-- Campo senha -->
                            <div class="form-group">
                                <label for="senha">Senha:</label>
                                <input type="password" name="senha" id="senha" value="{{usuario.password}}" required="true" class="form-control">
                            </div>
                            <!-- Botão entrar -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="width: 100%;">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>


        <!-- Bootstrap CDN -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>